################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetAdvancedAPIs/.vs/DotNetAdvancedAPIs
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Application/bin/Debug/net8.0
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Application/obj
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Domain/bin/Debug/net8.0
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Domain/obj
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Domain.UnitTests/bin/Debug/net8.0
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Domain.UnitTests/obj
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Persistence/bin/Debug/net8.0
/DotNetAdvancedAPIs/ShoppingCartRestAPI/Persistence/obj
/DotNetAdvancedAPIs/ShoppingCartRestAPI/ShoppingCartRestAPI/bin/Debug/net8.0
/DotNetAdvancedAPIs/ShoppingCartRestAPI/ShoppingCartRestAPI/obj
/DotNetAdvancedAPIs/CatalogRestAPI/.vs
/DotNetAdvancedAPIs/CatalogRestAPI/Application/bin/Debug/net8.0
/DotNetAdvancedAPIs/CatalogRestAPI/Application/obj
/DotNetAdvancedAPIs/CatalogRestAPI/CatalogRestAPI/bin/Debug/net8.0
/DotNetAdvancedAPIs/CatalogRestAPI/CatalogRestAPI/obj
/DotNetAdvancedAPIs/CatalogRestAPI/Domain/bin/Debug/net8.0
/DotNetAdvancedAPIs/CatalogRestAPI/Domain/obj
/DotNetAdvancedAPIs/CatalogRestAPI/HelperUtils/bin/Debug/net8.0
/DotNetAdvancedAPIs/CatalogRestAPI/HelperUtils/obj
/DotNetAdvancedAPIs/CatalogRestAPI/Persistence/bin/Debug/net8.0
/DotNetAdvancedAPIs/CatalogRestAPI/Persistence/obj
/DotNetAdvancedAPIs/.vs/ProjectEvaluation
/DotNetAdvancedAPIs/CatalogRestAPI/CatalogMessageBroker/bin/Debug/net8.0
/DotNetAdvancedAPIs/CatalogRestAPI/CatalogMessageBroker/obj
/DotNetAdvancedAPIs/ShoppingCartRestAPI/CartMessageBroker/bin/Debug/net8.0
/DotNetAdvancedAPIs/ShoppingCartRestAPI/CartMessageBroker/obj
/DotNetAdvancedAPIs/MessageBroker/AzureMessageBroker/bin/Debug/net8.0
/DotNetAdvancedAPIs/MessageBroker/AzureMessageBroker/obj
/DotNetAdvancedAPIs/CommonUtils/bin/Debug/net8.0
/DotNetAdvancedAPIs/CommonUtils/obj/Debug/net8.0
/DotNetAdvancedAPIs/AuthenticationAPI/bin/Debug/net8.0
/DotNetAdvancedAPIs/AuthenticationAPI/obj/Debug/net8.0
/DotNetAdvancedAPIs/AuthenticationAPI/obj
/DotNetAdvancedAPIs/CommonUtils/obj
/DotNetAdvancedAPIs/.sonarqube
/DotNetAdvancedAPIs/obj/Docker
/DotNetAdvancedAPIs/APIGateway/bin/Debug/net8.0
/DotNetAdvancedAPIs/APIGateway/obj/Debug/net8.0
/DotNetAdvancedAPIs/APIGateway/obj
